/* COMMON */
.text{
    color: white;
    text-transform: uppercase;
}

/* HEADER */
/* Heading */
.container .row h3{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

/* Nav section */
nav{
    background-color: #2c3e50;
}

.menu ul{
    text-align: right;
    margin: 20px 0px;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
}

.menu ul li a{
    
}
.container .row .burger-menu{
    text-align: right;
}

.container .row .burger-menu i{
    font-size: 24px;
    color: lightgray;
    border: 1px solid white;
    border-radius: 5px;
    margin: 12px 15px;
    padding: 5px 10px;
}
/* Banner */
.banner{
    background-color: #1abc9c;
    text-align: center;
    padding: 30px 0px;
}

/* HEADER END*/